<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="circle"></div>
    <div class="container">
      <div class="navbar">
        <div class="navbar__logo">
          <h2>Shoes Shop</h2>
        </div>
        <div class="navbar-menu__wrapper">
          <div class="navbar__menu">
            <a href="#" class="active"> Menu </a>
            <a href=contact.html> Contact </a>
            <a href="#"> Gift Cards </a>
          </div>
          <div class="navbar__auth">
            <a href="#" class="sign-in">Sign In</a>
            <a href="#">Join Now</a>
          </div>
        </div>
        <div class="navbar-menu__small-device">
          <img src="images/bars.png" alt="Bars" />
        </div>
      </div>
      <div class="hero">
        <div class="hero__content">
          <div class="snippets">
            <span> NEW IN </span>
          </div>
          <div class="title">
            <span>
                Nike Flyknit
            </span>
          </div>
          <div class="description">
              
            <span>
                Designed to withstand the rigors of adverse 
                conditions, the Nike ACG Flyknit Lupinek combines 
                flyknit, Flywire and a water-resistant Defender 
                Repellent system in the upper.
            </span>
          </div>
          <button class="order-now">Explore Now</button>
          <div class="social-media">
            <a href="#">
              <img src="images/facebook.png" alt="Facebook" />
            </a>
            <a href="#">
                <img src="images/instagram.png" alt="Instagram" />
              </a>
            <a href="#">
                <img src="images/pinterest.png" alt="Facebook" />
              </a>
          </div>
        </div>
        <div class="hero__image">
          <img src="images/shoe-home.png" alt="Starbucks drinks" />
        </div>
      </div>
    </div>
  </body>
</html>